.mobile-navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  //background: $background-color;
  background: #fff;
  z-index: map-get($z-index, 'navigation');
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.mobile-navigation-main {
  width: 100%;
  height: 50px;
  padding: 0 $s-size;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.mobile-navigation-sec {
  display: flex;
  align-items: center;
  padding: 5px $s-size;
  
}

.mobile-navigation-menu {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  .user-nav {
    height: 100%;
    margin: 0;
  }

  .user-nav h5 {
    display: none;
  }
}
.mobile-navigation-menu-button {
  padding: 1.4rem;
}

.mobile-navigation-item {
  width: 35%;
  height: 100%;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid $border-color;
}

.mobile-navigation-logo {
  flex-grow: 1; //set it to 1 to push the other items to right.
  padding-left: 0.8rem;
}

.mobile-navigation-search {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $paragraph-color;
}

.mobile-navigation-search-title {
  margin: .6rem;
  font-weight: normal;
}
@media (max-width: 600px) {
  .mobile-navigation-menu {
    display: none; // Hide the navigation links initially
  }
 

    .side-panel {
      width: 400px;
      right: -400px;
      height: 100vh;
      position: fixed;
      z-index: 10;
      top: 0px;
      padding: 50px 10px 50px 60px;
      -webkit-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;
      font-size: 2.5em;
      z-index: 10000;
    }

    .side-panel.show {
      right: 0px;
      background-color: white;
      -webkit-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;
    }



  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
    // .mobile-navigation-logo h2 {
    //   font-family: Arial Italic;
    //   font-style: italic;
    //   font-size: 1.8rem;
    //   color: #eb6834e3;
    //   letter-spacing: 1px;
    // }
        .bottom-navigation {
          width: 100%;
          position: fixed;
          bottom: 0;
          background: white;
          height: 50px;
        }
    
        .bottom-navigation-menu {
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 $m-size;
          margin: 0;
        }
    
        .bottom-navigation-item {
          padding: $s-size;
          height: 100%;
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-grow: 1;
    
          &:hover {
            background: $button-color;
          }
        }
    
        .bottom-navigation-link {
          color: $white;
          text-decoration: none;
        }
    
        .bottom-navigation-icon {
          width: 35px;
          height: 35px;
          overflow: hidden;
          margin-bottom: 5px;
        }
    
        .bottom-navigation-profile {
          border-radius: 50%;
          border: 1px solid $white;
        }
    
        .bottom-navigation-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
}

